.fl { float: left; }
.fr { float: right; }
.gray { color: gray; }

.upload-input { position: absolute; overflow: hidden; z-index: 10000; }
.upload-html4 { position: absolute; left: -10000px; top: -10000px; }

.u-loaded { color: green; }
.u-total { color: #FC5900; }

.ui-file .u-item { background-color: #f5f5f5; height: 36px; line-height: 36px; font-size: 13px; margin: 10px; padding: 0 10px; position: relative; }

.ui-file .u-name { min-width: 100px; color: #369; margin-right: 10px; }

.ui-file .u-size, .ui-file .u-speed, .ui-file .u-progress-bar, .ui-file .u-detail, .ui-file .u-state, .ui-file .u-op { float: left; text-align: center; }

.ui-file .u-progress-bar, .ui-file .u-progress { background: url(../images/Q/progress.gif) repeat-x; }
.ui-file .u-progress-bar { width: 150px; height: 7px; overflow: hidden; margin: 15px 6px 0 0; padding: 1px 0; }
.ui-file .u-progress { width: 1px; height: 7px; background-position: 0 -9px; }

.ui-file .u-detail { width: 55px; }
.ui-file .u-state { min-width: 45px; }

.ui-file .u-size { }

.ui-file .u-speed { width: 85px; }
.ui-file .u-op { margin-left: 5px; }
.ui-file .u-op a { cursor: pointer; margin-left: 5px; color: #369; text-decoration: none; }
.ui-file .u-op a:hover { text-decoration: underline; }

.html4 .u-progress-bar, .html4 .u-detail, .html4 .u-speed { display: none; }
.html4 .u-size { margin: 0 10px; }

.ui-file .u-over .u-state { color: #999; }
.ui-file .u-over .u-op .u-op-cancel { color: #999; text-decoration: none; cursor: default; }
