<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <pages enableViewState="false" enableViewStateMac="false" validateRequest="false">
    </pages>

    <httpRuntime maxRequestLength="2048000000" executionTimeout="600" enableVersionHeader="false" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000000"></requestLimits>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
