<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="false" />
        <pages enableViewState="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
    </pages>

    <httpRuntime maxRequestLength="4294967296" executionTimeout="300" requestValidationMode="2.0" enableVersionHeader="false" />
    </system.web>
  
    <system.webServer>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="4294967296"></requestLimits>
          </requestFiltering>
        </security>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
